.checkout{
    width: 100%;
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    .items{
        width: 70%;
    }

    .info{
        width: 25%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color:white;
        border-radius: 1rem;
        height: 18rem;
        position: sticky;
        top: 8rem;
        font-size: 1rem;
        border: 1px solid silver;
        box-shadow: 3px 3px 13px rgba(0,0,0,.1);

        h4{
            color: gray;
        }

        h4 span{
            color:blue;
        }

        h4:nth-child(2){
            margin-bottom: 2rem;
            span{
                color: rgb(6, 197, 6);
            }
        }

        button{
            border: none;
            outline: none;
            padding: 1rem 2rem;
            text-align: center;
            background-color: #fe718d;
            color: white;
            font-size: 1rem;
            border-radius: .6rem;
            
        }

        button:last-child{
            background-color: white;
            border: 1px solid #fe718d;
            color: #fe718d;
        }
    }
}

.sold{
    width: 45%;
    background-color: white;
    border-radius:1rem ;
    border: 1px solid silver;
    margin: 5rem auto;
    padding: 3rem;
    box-shadow: 3px 3px 12px rgba(0,0,0,.1);


    a{
        text-decoration: none;
        padding: 1rem 1.5rem;
        background-color: #fe718d;
        color: white;
        display: block;
        width: max-content;
        margin-top:2rem ;
        border-radius: .3rem;
    }
}

@media  screen and (max-width:480px){

    .checkout{
        flex-direction: column;
        align-items: center;
        .info{
            width: 60%;
            margin-bottom: 1.5rem;
        }
        .items{
            width: 100%;
        }
    }
    
}