.shop-cart{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid silver;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 3px 3px 13px rgba(0,0,0,.1);
    padding: 1rem;
    margin-bottom: 1rem;

    img{
        width: 7rem;
        height:10rem;
    }

    h3{
        width: 1.5rem;
        height: 1.5rem;
        border-radius: .2rem;
        background-color: gold;
        text-align: center;
    }
    .shopcart-buttons{
        display: flex;
        justify-content: space-between;
        width: 6rem;
    }
    svg{
        padding: .5rem 1rem;
        background-color: #fe718d;
        color: white;
        border-radius: .5rem;
        cursor: pointer;
    }
}