.product-container{
    width: 80%;
    margin:50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,250px);
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    grid-gap: 1.5rem;
}


@media screen and (max-width:480px) {
    .product-container{
        width: 90%;
        grid-template-columns: repeat(auto-fit , 100%);
    }
}